---
import HeroDesc from "@/sections/hero/heroDesc.astro";
import HeroPictures from "@/sections/hero/heroPictures.astro";
---

<section
  class="container relative flex flex-col items-center justify-center w-full h-screen pt-[120px] gap-y-14"
>
  <HeroDesc />
  <HeroPictures
    class="animate-fade-in animate-delay-300 animate-duration-slow"
  />
</section>
