---
import HeroDesc from "@/sections/hero/heroDesc.astro";
import HeroPictures from "@/sections/hero/heroPictures.astro";
---

<section
  class="relative flex flex-col items-center justify-center w-full h-screen"
>
  <HeroDesc />
  <HeroPictures
    class="absolute bottom-0 animate-fade-in animate-delay-300 animate-duration-slow"
  />
</section>
